@import "../../../css/mixin.scss";

.ant-container {
    height: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
    will-change: transform;
}

.th-midbox {
    padding: 0 3rem;
    height: 100%;

    .h1 {
        font-size: 50px;
        font-size: clamp(1rem, 10vw, 50px);
        margin-bottom: 0;
        font-weight: 800;

        span {
            font-weight: normal;
        }
    }

    .logo-tagline {
        font-size: 22px;
        vertical-align: middle;
    }

    .th-card-wrapper {
        width: 315px;

        @include respond-to('small') {
            width: auto;
        }

        .ant-form {
            .ant-input-password {

                border: 0;
                padding: 0;
                box-shadow: none;

                .ant-input-suffix {

                    position: absolute;
                    right: 0;

                }
            }
        }

        .ant-card {
            @include respond-to('small') {
                text-align: left;
            }
        }
    }

    @include respond-to('small') {
        justify-content: center;
        flex-flow: column-reverse;
        text-align: center;

        img.login-graphic {
            height: 100%;
        }
    }
}